{% extends 'base.html' %}

{% block content %}
<main class="app-content">
      <div class="app-title">
        <div>
          <h1><i class="fa fa-edit"></i> Library Detail</h1>
        </div>
        <ul class="app-breadcrumb breadcrumb">
          <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
          <li class="breadcrumb-item">Forms</li>
          <li class="breadcrumb-item"><a href="#">Sample Forms</a></li>
        </ul>
      </div>
    <div class="tile mb-4">
        <div class="row">
          <div class="col-lg-12">
            <div class="page-header">
              <h2 class="mb-3 line-head" id="containers">Library Details and Reviews</h2>
                <a href="/library_list_admin">Back to list</a>
            </div>
            <div class="bs-component">
              <div class="jumbotron">
                <h4 class="display-4">{{library.name}}</h4>
                <h5>{{library.city}}</h5>
                <h5>{{library.address}}</h5>
                </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <h3>Reviews</h3>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-12">
            <div class="bs-component">
              {% for review in reviews %}
              <div class="card mb-3 text-white bg-primary">
                <div class="card-body">
                  <blockquote class="card-blockquote">
                    <p>{{review.review}}</p>
                    <footer>Written :
                      <cite title="Source Title">{{review.guest}} [{{review.email}}]</cite>
                    </footer>
                      {% if review.is_approve == False %}
                      <form method="POST">{% csrf_token %}
                          <input type="text" name="approve" value="{{review.id}}" hidden>
                          <button class="btn" type="submit">Approve</button>
                      </form>
                      {% else %}
                      Approved
                      {% endif %} <form method="POST">{% csrf_token %}
                          <input type="text" name="delete" value="{{review.id}}" hidden>
                          <button class="btn" type="submit">Delete</button>
                      </form>
                  </blockquote>
                </div>
              </div>
              {% endfor %}
            </div>
        </div>
      </div>
    </div>
</main>
{% endblock %}